<html>
    <head>
        <title>CryptoArticles - {{ title }}</title>
    </head>
    <body>
        <h1>CryptoArticles - {{ title }}</h1>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('createcrypto') }}">Create Crypto</a>
        <a href="{{ url_for('createarticles') }}">Create Article</a>
        <a href="{{ url_for('deletecrypto') }}">Delete Crypto</a>
        <a href="{{ url_for('deletearticle') }}">Delete Article</a>
        <a href="{{ url_for('updatecrypto') }}">Update Crypto</a>
        {% block body %}
        {% endblock body %}
    </body>
</html>